.btn, .btn-success, .btn-warrning, .btn-error {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.btn-success {
  background-color: green; }

.btn-warrning {
  background-color: orange;
  padding: 10px; }

.btn-error {
  background-color: red; }
